
body {
   background-color:hsl(50,50%,90%);
}
  


img {
    width: 450px;
    height: 400px;
    object-fit: contain;
}
  
div.writing {
    padding: 10px;
    text-align: center;
    font-family: Arial;
    color:darkblue;
    font-size: 17px;
    background-color: #ffec64;  
}
  
div.memes:hover {
    background-color: black;
}
