
body {
   background-color:hsl(50,50%,90%);
}
  
.memes {
    margin: 15px 0px;
    float: left;
    padding: 5px;
    object-fit: contain;
}
div.memes img {
    width: 450px;
    height: 400px;
}
  
div.writing {
    padding: 10px;
    text-align: center;
    font-family: Arial;
    color:darkblue;
    font-size: 17px;
    background-color: #ffec64;
    border: 2px solid #ffaa22;
}
  
div.memes:hover {
    background-color: black;
}
