.main-footer {
    position: relative; 
    bottom: 0;
    width: 100%;
    line-height: 50px;
    background-color: #ccc8c8;
    font-size:15px;
    border-radius: 10px;
    padding-top:3em;


}
#copyright{
    color: #ffffff;
  }

#footerp{
    text-align:left;

}
